@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.button {
  width: 260px;
  height: 260px;
  position: relative;
  top: 182px;
  border-radius: 25px;
  border: none;
  background-color: rgb(252, 251, 250);
  transition: background-color 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: rgb(242, 241, 241);
}

.backgroundIcon {
  position: relative;
  z-index: 2;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: rgb(232, 232, 232);
}

.icon {
  position: absolute;
  z-index: 4;
  width: 60px;
}
