.content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
.aside {
  display: flex;
  justify-content: center;
  gap: 50px;
}
