.content {
  background-color: rgb(226, 244, 202);
}

.main {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
