.card {
  width: 250px;
  height: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .selected {
  background-color: red;
  border-color: red;
}

.card:active {
  background-color: blueviolet;
} */
